<script type="text/x-handlebars-template" id="nav-template">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo-color2.png" alt="Winchester Porchfest" title="Winchester Porchfest"
                     style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {{#contains pathName "about.html"}}active{{/contains}}"
                       href="about.html">About</a>
                    <a class="nav-item nav-link {{#contains pathName "hosts.html"}}active{{/contains}}"
                       href="hosts.html">Hosts</a>
                    <a class="nav-item nav-link {{#contains pathName "performers.html"}}active{{/contains}}"
                       href="performers.html">Performers</a>
                    <a class="nav-item nav-link {{#contains pathName "volunteers.html"}}active{{/contains}}"
                       href="volunteers.html">Volunteers</a>
                    <a class="nav-item nav-link {{#contains pathName "schedule.html"}}active{{/contains}}"
                       href="schedule.html">Schedule</a>
<!--                    <a class="nav-item nav-link {{#contains pathName "contact.html"}}active{{/contains}}"-->
<!--                       href="schedule.html">Contact</a>-->
                </div>
            </div>
        </div>

</script>