<script type="text/x-handlebars-template" id="nav-template">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo-color2.png" alt="Winchester Porchfest" title="Winchester Porchfest"
                     style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <div class="navbar-nav">
<!--                    <a class="nav-item nav-link {{#contains pathName "lineup.html"}}active{{/contains}}"-->
<!--                       href="lineup.html">Lineup</a>-->
                    <a class="nav-item nav-link {{#contains pathName "porchfest2022.html"}}active{{/contains}}"
                       href="porchfest2022.html">Porchfest 2022</a>
<!--                    <a class="nav-item nav-link {{#contains pathName "porchfest2021.html"}}active{{/contains}}"-->
<!--                       href="porchfest2021.html">Porchfest 2021</a>-->
                    <a class="nav-item nav-link {{#contains pathName "hosts.html"}}active{{/contains}}"
                       href="hosts.html">Hosts</a>
                    <a class="nav-item nav-link {{#contains pathName "performers.html"}}active{{/contains}}"
                       href="performers.html">Performers</a>
                    <a class="nav-item nav-link {{#contains pathName "volunteers.html"}}active{{/contains}}"
                       href="volunteers.html">Volunteers</a>
<!--                    <a class="nav-item nav-link {{#contains pathName "tshirt.html"}}active{{/contains}}"-->
<!--                       href="tshirt.html">T-Shirt</a>-->
<!--                    <a class="nav-item nav-link {{#contains pathName "raom.html"}}active{{/contains}}"-->
<!--                       href="raom.html">RAoM</a>-->
                    <a class="nav-item nav-link {{#contains pathName "contact.html"}}active{{/contains}}"
                       href="contact.html">Contact</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{#contains pathName "porchfest2021.html"}}active{{/contains}} {{#contains pathName "raom.html"}}active{{/contains}}" data-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true" aria-expanded="false">Previous Events</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item {{#contains pathName "porchfest2021.html"}}active{{/contains}}"
                               href="porchfest2021.html">Porchfest 2021</a>
                            <a class="dropdown-item {{#contains pathName "raom.html"}}active{{/contains}}"
                               href="raom.html">Random Acts of Music</a>
                        </div>
                    </li>
                    <a class="nav-item nav-link {{#contains pathName "about.html"}}active{{/contains}}"
                       href="about.html">About</a>
                </div>
            </div>
        </div>

</script>
